# IntelliJ Idea - don't include user-specific files.
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# VSCode
.vscode/

# Python
__pycache__/
.ipynb_checkpoints/

# Data
pytorch_tutorials/data/
pytorch_tutorials/gabrielloye_LSTM/data/
pytorch_tutorials/**/processed.npz
pytorch_tutorials/**/data/

# Model files
*.pt

# Dotenv
.env
