# IntelliJ Idea - don't include user-specific files.
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# VSCode
.vscode/

.ipynb_checkpoints/

pytorch_tutorials/data/
pytorch_tutorials/gabrielloye/data/
