# IntelliJ Idea - don't include user-specific files.
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.ipynb_checkpoints/

pytorch_tutorials/data/